main {
  width: 50%;
  margin: 0 auto;
}

.post {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 2px black;
  margin-top: 10px;
  padding: 10px;
}

.post h2 {
  font-size: 1em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
}

.post .date {
  color: #ccc;
  font-size: 0.8em;
  margin-top: 2px;
}
